.media-page {
  color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
  background: #00000066;
  flex-direction: column;
  align-items: center;
}

.media-page svg {
  font-size: 1.5rem;
  color: #f7d354;
}

.porcent {
  margin-right: 10px;
}

#backdrop{
  z-index: -1;
  background-size: cover;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.title-details {
  font-size: 3rem;
margin-bottom: 20px;
}

.date{
  color: #f5f2f2;
  font-size: 2.8rem;
  margin-left: 20px;
  opacity: .8;
}

.tagline {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.media-conteiner{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  width: 80%;
  margin-top: 100px;
}


.media-conteiner-box{
  width: 65%;
  display: flex;
  flex-direction: column;
  padding-left: 7%;
}

#banner_details {
  height: 600px;
  border-radius: 10px;
}

.vote{
  margin-right: 10px;
}

.media-page .movie-card {
  text-align: center;
}

.media-page .movie-card img,
.media-page .movie-card h2,
.media-page .movie-card p {
  margin-bottom: 1rem;
}

.media-page .movie-card h2 {
  font-size: 2rem;
}

.media-page .movie-card p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

#backdrop {
  background-image: linear-gradient(rgba(245,245,245,1), rgba(0,0,0,0))
}

.genres-full{
  display: flex;
  flex-direction: row;
}

.genres-border{
  margin-right: 10px;
  background-color:#db0e0e;
  border-radius: 12px;
  padding: 5px 12px 5px 12px;
}

.genres {
  max-width: 150px;
  white-space: nowrap;
}

.info {
  margin-top: 1.5rem;
  margin-bottom: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h3 {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  line-height: 1.4rem;
}

.info-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px 30px 0px;
}

.overview {
  display: flex;
}

.ver-trailer{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.ver-trailer button{
  background: #db0e0e;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #f5f2f2;
  display: flex;
  font-size: 15px;
}

.wallPaper{
  margin-left: 10px;
}

.ver-trailer :hover {
  background: #7a0606;
}

#play {
  margin-right: 2px;
  scale: 1.5;
}

#icon-wallpaper{
  scale: 1.5;
  margin-right: 7px;
}

.cast-box{
  width: 100%;
  margin-top: 70px;
}


.cast{
  height: 170px;
  width: 120px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
}

.cast-barra{
  background: #27212194;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}
.cast-barra p{
  font-size: 14px;
}

#icon-extra{
  scale: 1.3;
  margin-right: 5px;
}

.box-provider {
  background: #423d3d4f;
  border-radius: 10px;
}
.providers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 10px 0px 10px 0px;
}
.provider_logo {
  height:50px;
  width: 50px;
  border-radius: 10px;
  margin-right: 2px;
}

.info-extras-box{
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.trailers {
  width: 80%;
}


.info-extras{
  margin-left: 50px;
  min-height: 100%;
  min-width: 18%;
  background: #423d3d4f;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.extras{
  margin-top: 20px;
}


@media(max-width:450px) {

  #backdrop{
    z-index: -1;
    background-size: cover;
    position: top;
    left: 0;
    top: 100px;
    bottom: 0;
    width: 100%;
    height: 30%;
  }

  .vote{
    margin-bottom: 15px;
  }
  .media-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 100%;
  }

  #banner_details {
    position: relative;
    bottom: -30px;
    height: 200px;
    border-radius: 10px;
    margin: 0px 0px 100px 19px;
  }

  .title-details {
    font-size: 24px;
    min-width: 300px;
    }

    .tagline {
      display: none;
    }

  .info-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .genres-full{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    scale: 0.8;
  }

  .info {
    min-width: 320px;
    margin-right: 10px;
  }

  .box-provider {
    background: #2e26268a;
    border-radius: 10px;
  }


  .providers {
    display: flex;
    flex-direction: row;
    margin: 10px;
    display: none;
  }
  .provider_logo {
    height:50px;
    width: 50px;
    border-radius: 10px;
  }
}