.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92%;
  margin-left: 5%;
}

.app {
  width: 85%;
}

.Nota{
  position: absolute;
  top: 350px;
  left: 210px;
}
.poster {
  width: 100%;
  --swiper-theme-color: #f7d354;
}

.poster-navigation {
  color: #fff;
}


.app img {
  width: 250px;
  height: 370px;
  padding: none;
  margin: none;
  border-radius: 10px;
}

.movie-card {
  width: 220px;
}


.container .title {
  color: #fff;
  font-size: 1.9rem;
  text-align: center;
}

#banner {
  min-height: 375px;
  width: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.title .query-text {
  color: #f7d354;
  margin-bottom: 10px;
}

.title-box{
  width: 85%;
  margin: 8rem 0 1rem;
  display: flex;
justify-content: flex-start
}
#title {
  margin-top: 10px;
  font-size: 16px;
}

.info-details-poster {
  width: 800px;
}

.info-poster {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  padding-left: 50px;
  height: 100%;
}

#poster-title {
  font-size: 4rem;
}

.movies-container {
  display: flex;
  width: 100%;
  height: 400px;
  overflow-x: auto;
  margin-bottom: 150px;
  border-radius: 10px;
  cursor: grab;
}

.movies-container::-webkit-scrollbar {
  height: 10px;
}


.movies-container div {
  width: 30%;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  justify-content: space-between;
  background: #ffffff10;
  text-align: center;
  padding: 1rem;
  margin-right: 10px;
  border-radius: 10px;
}

.movies-container div img {
  width: 180px;
  min-height: 50%;
  border-radius: 10px;
}

.movies-container div img,
.movies-container div p {
  margin-bottom: 1rem;
}

.movies-container div svg {
  color: #f7d354;
}

