.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.app {
  width: 100%;
  padding-left: 110px;
}

.Nota {
  position: absolute;
  top: 350px;
  left: 210px;
}

.poster {
  width: 100%;
  --swiper-theme-color: #f7d354;
}

.poster-navigation {
  color: #fff;
}

.app img {
  width: 250px;
  height: 370px;
  padding: none;
  margin: none;
  border-radius: 10px;
}

.movie-card {
  width: 200px;
  height: 375px;
}

.movie-card-search {
  height: 100%;
  width: 320px;
}

.card-info {
  width: 100%;
  height: 375px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) -0%,
    rgba(0, 0, 0, 0)
  );
  visibility: hidden;
  transition-timing-function: ease;
}

.movie-card:hover .card-info {
  visibility: visible;
}

.title {
  color: #fff;
  font-size: 1.9rem;
  text-align: center;
}

#banner {
  height: 100%;
  width: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

#banner-search {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.title .query-text {
  color: #f7d354;
  margin-bottom: 10px;
}

.title-box {
  width: 85%;
  margin: 8rem 0 1rem;
  display: flex;
  justify-content: flex-start;
}
#title {
  margin-top: 10px;
  font-size: 16px;
}

.info-details-poster {
  width: 800px;
}

.info-poster {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  padding-left: 50px;
  height: 100%;
}

#poster-title {
  font-size: 4rem;
}

.movies-container {
  display: flex;
  width: 100%;
  height: 400px;
  overflow-x: auto;
  margin-bottom: 150px;
  border-radius: 10px;
  cursor: grab;
}

.movies-container::-webkit-scrollbar {
  height: 10px;
}

.movies-container div {
  width: 30%;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  justify-content: space-between;
  background: #ffffff10;
  text-align: center;
  padding: 1rem;
  margin-right: 10px;
  border-radius: 10px;
}

.movies-container div img {
  width: 180px;
  min-height: 50%;
  border-radius: 10px;
}

.movies-container div img,
.movies-container div p {
  margin-bottom: 1rem;
}

.movies-container div svg {
  color: #f7d354;
}

.swiper-btn-prev,
.swiper-btn-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 0 0.1rem 0.3rem 0 rgb(0 0 0 / 16%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: none;
  width: 3rem;
  height: 3rem;
  border: #fff;
}

.swiper-btn-prev {
  left: 0;
}

.swiper-btn-next {
  left: 100%;
}

.portifolio {
  width: 100%;
}
