.circle-full {
    width: 44px;
    height: 44px;
    background: rgb(2, 2, 34);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.90;
}

.svg-circle {
    width: 40px;
    height: 40px;
    display: flex;
    rotate: -90deg;
}
.circle {
    scale: 0.95;
}

.cicle-percent{
    position: absolute;
    left: 12px;
    bottom: 12px;
    color: white;
}
.percent-vote{
    position: absolute;
    top: -1px;
    font-size: 9px;
}

@media(max-width:450px) {

    .percent-vote {
        display: none;
    }
  }