/* Home poster */

.poster .swiper-button-next {
  height: 100%;
  position: absolute;
  color: #f7d354;
  top: 0px;
  right: 0px;
  width: 130px;
}

.poster .swiper-button-next {
  visibility: hidden;
}

.poster:hover .swiper-button-next {
  visibility: visible;
}

.poster .swiper-button-next::after {
  scale: 0.8;
}
.poster .swiper-button-prev {
  height: 100%;
  position: absolute;
  color: #f7d354;
  top: 0px;
  left: 0px;
  width: 130px;
}

.poster .swiper-button-prev {
  visibility: hidden;
}

.poster:hover .swiper-button-prev {
  visibility: visible;
}

.poster .swiper-button-prev::after {
  scale: 0.8;
}

.slider-arrow ion-icon {
  scale: 2;
  color: #d8d8df;
}

/* HOME grid media */

.app .swiper-button-next {
  height: 400px;
  width: 101px;
  position: absolute;
  color: #f7d354;
  top: 0px;
  right: 0px;
  background: #000000a1;
}

.app .swiper-button-next::after {
  visibility: hidden;
}

.app:hover .swiper-button-next::after {
  visibility: visible;
}

.app .swiper-button-next::after {
  scale: 0.7;
}

.app .swiper-button-prev {
  height: 400px;
  width: 105px;
  position: absolute;
  color: #f7d354;
  top: 0px;
  left: 0px;
  background: #000000a1;
}

.app .swiper-button-prev::after {
  visibility: hidden;
}

.app:hover .swiper-button-prev::after {
  visibility: visible;
}

.app .swiper-button-prev::after {
  scale: 0.7;
}

/* Swiper details Wallpapers */

.paper-box .swiper-button-next {
  visibility: hidden;
}

.paper-box:hover .swiper-button-next {
  visibility: visible;
}

.paper-box .swiper-button-next::after {
  scale: 0.6;
}

.paper-box .swiper-button-next {
  height: 100%;
  color: #f7d354;
  top: 22px;
  right: 35px;
}

.paper-box .swiper-button-prev {
  visibility: hidden;
}

.paper-box:hover .swiper-button-prev {
  visibility: visible;
}

.paper-box .swiper-button-prev::after {
  scale: 0.6;
}

.paper-box .swiper-button-prev {
  height: 100%;
  color: #f7d354;
  top: 22px;
  left: 35px;
}

.paper-box .swiper-pagination-bullet {
  background: #f7d354;
}

.paper-box .swiper-pagination {
  bottom: 0px;
}

/* Swiper People */

.people .swiper-button-next {
  visibility: hidden;
}

.people:hover .swiper-button-next {
  visibility: visible;
}

.people .swiper-button-next::after {
  scale: 0.6;
}

.people .swiper-button-next {
  height: 100%;
  color: #f7d354;
  top: 22px;
  right: 0px;
  background: #00000041;
}

.people .swiper-button-prev {
  visibility: hidden;
}

.people:hover .swiper-button-prev {
  visibility: visible;
}

.people .swiper-button-prev::after {
  scale: 0.6;
}

.people .swiper-button-prev {
  height: 100%;
  color: #f7d354;
  top: 22px;
  left: 0px;
  background: #00000041;
}
@media (max-width: 450px) {
  .poster .swiper-button-next {
    height: 400px;
    width: 50px;
  }

  .poster .swiper-button-prev {
    width: 50px;
    height: 400px;
  }

  .app .swiper-button-next {
    height: 252px;
    width: 50px;
  }

  .app .swiper-button-prev {
    height: 252px;
    width: 50px;
  }

  .paper-box .swiper-button-next {
    height: 203px;
    color: #f7d354;
    top: 20px;
    right: -7px;
  }
  .paper-box .swiper-button-prev {
    height: 203px;
    color: #f7d354;
    top: 20px;
    left: -7px;
  }
}
@media (max-width: 400px) {
  .poster .swiper-button-next {
    height: 400px;
    width: 50px;
  }

  .poster .swiper-button-prev {
    width: 50px;
    height: 400px;
  }

  .app .swiper-button-next {
    height: 252px;
    width: 38px;
  }

  .app .swiper-button-prev {
    height: 252px;
    width: 50px;
  }
}
